<%= form_with(model: @render, local: true, id: "render-form", data: { controller: "lora-scales" }) do |form| %>
  <div class="my-5">
    <%= form.label :type, "Type" %>
    <%= form.select :type, options_for_select(['Image']), class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :prompt, "Prompt" %>
    <%= form.text_area :prompt, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", placeholder: "Enter prompt (e.g., {lora_1} in the style of {lora_2})" %>
  </div>

  <div class="my-5">
    <%= form.collection_select :model_id, @models, :id, :name, { prompt: "Select a Model" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :guidance_scale, "Guidance Scale" %>
    <%= form.number_field :guidance_scale, step: 0.01, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", placeholder: "Enter guidance scale" %>
  </div>

  <!-- Multi-select dropdown for selecting multiple LoRAs -->
  <div class="my-5">
    <%= form.label :lora_ids, "Select LoRAs (Optional)" %>
    <%= form.select :lora_ids, options_from_collection_for_select(Lora.all, :id, :name), { multiple: true , include_blank: false }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", data: { lora_scales_target: "select", action: "lora-scales#updateFields" } %>
  </div>

  <!-- Placeholder where lora_X scale fields will be inserted -->
  <div class="my-5" data-lora-scales-target="scalesPlaceholder">
  </div>

  <div class="my-5">
    <%= form.submit "Create Render", class: "bg-blue-500 text-white px-4 py-2 rounded-md" %>
  </div>
<% end %>
