<%= form_with(model: @render, local: true, id: "render-form", data: { controller: "lora-scales" }) do |form| %>
  <div class="my-5">
    <%= form.label :render_type, "Type" %>
    <%= form.select :render_type, options_for_select(['Image']), class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :prompt, "Prompt" %>
    <%= form.text_area :prompt, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", placeholder: "Enter prompt (e.g., {lora_1} in the style of {lora_2})" %>
  </div>

  <div class="my-5">
    <%= form.collection_select :model_id, @models, :id, :name, { prompt: "Select a Model" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :guidance_scale, "Guidance Scale" %>
    <%= form.number_field :guidance_scale, step: 0.01, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", placeholder: "Enter guidance scale" %>
  </div>

  <!-- Multi-select dropdown for selecting multiple LoRAs -->
  <div class="my-5">
    <%= form.select :lora_ids, 
    options_from_collection_for_select(Lora.all, :id, :name),
    { selected: form.object.lora_ids, include_hidden: false },
    { multiple: true, 
      class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", 
      data: { lora_scales_target: "select", action: "lora-scales#updateFields" }
    }
  %>
  </div>

  <!-- Scale fields for each selected LoRA ID -->
  <div class="my-5" data-lora-scales-target="scalesPlaceholder">
    <% Lora.all.each do |lora| %>
      <div class="my-3" data-controller="lora-scale">
        <%= form.label "Scale for #{lora.name}" %>
        <%= form.number_field "lora_scales[#{lora.id}]", step: 0.1, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", placeholder: "Scale for #{lora.name}" %>
      </div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.submit "Create Render", class: "bg-blue-500 text-white px-4 py-2 rounded-md" %>
  </div>
<% end %>
