<div class="flex text-white border-b border-gray-200">
  <div class="p-2 text-center basis-1/4">
    <% if render.images.first&.image&.attached? %>
      <%= link_to image_path(render.images.first) do %>
        <%= image_tag(url_for(render.images.first.image), alt: "Render Image", class: "object-cover") %>
      <% end %>
    <% end %>
  </div>
  <div class="p-2 basis-1/2">
    <div class="text-center border rounded-md">
      <strong>Model: <%= render.model.name %></strong>
    </div>
    <div>
      <%= render.prompt %>
    </div>
  </div>
  <%# Lora Details %>
  <div class="flex flex-col p-2 text-left basis-1/4">
    <div>
      <strong>Guidance Scale:</strong>
      <%= render.guidance_scale %>
    </div>
    <% render.render_loras.each do |render_lora| %>
      <div>
        <strong>Lora: <%= render_lora.lora.name %></strong> - Scale: <%= render_lora.scale %>
      </div>
    <% end %>
    <div>
      <strong>Inference Steps:</strong>
      <%= render.steps %>
    </div>
  </div>
</div>