<div class="w-full">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Renders" %>

  <div class="flex items-center justify-between text-white">
    <h1 class="text-4xl font-bold">Renders</h1>
    <%= link_to "New render", new_render_path, class: "rounded-lg py-2 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <!-- Sort Table -->
  <div>
    <%= render partial: "shared/sort_table", locals: {
      collection: @renders,
      sortables: @sort,
      resource_name: :renders
    } %>
  </div>

  <!-- Filter List -->
  <div>
    <%= render partial: "shared/filter_options", locals: {
      collection: @renders,
      filters: @filters,
      resource_name: :renders
    } %>
  </div>

  <%= turbo_frame_tag "sorted_table" do %>
    <%= render partial: "shared/resource_table", locals: { 
      collection: @renders, 
      headers: [
        { label: "Type", basis: "1/4", content: ->(render) { format_thumbnail(render) } },
        { label: "Model/Prompt", basis: "1/2", content: ->(render) { render_model_prompt_content(render) } },
        { label: "LoRA Details", basis: "1/4", content: ->(render) { render_lora_info_content(render) }, class: "flex justify-center items-start" }
      ] 
    } %>
  <% end %>
</div>