<div class="border border-gray-300 rounded-md">
  <!-- Header Row -->
  <div class="flex font-semibold text-white bg-gray-800">
    <% headers.each do |header| %>
      <div class="text-center basis-<%= header[:basis] %> p-2">
        <%= header[:label] %>
      </div>
    <% end %>
  </div>

  <!-- Rows for Each Item in Collection -->
  <div class="">
    <% collection.each do |item| %>
      <div class="flex p-2 text-white border-b border-gray-200">
        <% headers.each do |header| %>
          <div class="basis-<%= header[:basis] %> <%= header[:class] %>">
            <%= header[:content].call(item) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>