<div id="<%= dom_id lora %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= lora.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url src:</strong>
    <%= lora.url_src %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Trigger:</strong>
    <%= lora.trigger %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= lora.model.name %>
  </p>

</div>
