<div id="<%= dom_id lora %>">
  <p class="my-5">
    <strong class="block mb-1 font-medium">Name:</strong>
    <%= lora.name %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Url src:</strong>
    <%= lora.url_src %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Trigger:</strong>
    <%= lora.trigger %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Platform:</strong>
    <%= lora.platform %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Model:</strong>
    <%= lora.model.name %>
  </p>

</div>
