<div class="w-full">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Loras" %>

  <div class="flex items-center justify-between text-white">
    <h1 class="text-4xl font-bold">Loras</h1>
    <%= link_to "New lora", new_lora_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <!-- Sort Button -->
  <%= render partial: "shared/sort_table", locals: {
    collection: @loras,
    sortables: @sort,
    resource_name: :loras
  } %>

  <!-- Filter List -->
  <div>
    <%= render partial: "shared/filter_options", locals: {
      collection: @loras,
      filters: @filters,
      resource_name: :loras
    } %>
  </div>

  <!-- Pagy Navigation Links -->
  <div class="flex justify-center">
    <div class="mt-4 text-white">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>

  <!-- Loras Table -->
  <%= turbo_frame_tag "sorted_table" do %>
    <%= render partial: "shared/resource_table", locals: { 
      collection: @loras, 
      headers: [
        { label: "Name", basis: "1/4", content: ->(lora) { link_to lora.name, lora_path(lora), target: "_top" }, class: "flex justify-center items-center" },
        { label: "Platform", basis: "1/4", content: ->(lora) { html_url_platform(lora) }, class: "flex justify-center items-center" },
        { label: "Trigger", basis: "1/4", content: ->(lora) { lora.trigger }, class: "flex items-center"},
        { label: "Model", basis: "1/4", content: ->(lora) { html_url_platform(lora) if lora.model }, class: "flex justify-center items-center" }
      ]
    } %>
  <% end %>
</div>