<div id="<%= dom_id fine_tune %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= fine_tune.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Platform:</strong>
    <%= fine_tune.platform %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Platform source:</strong>
    <%= fine_tune.platform_source %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Platform link:</strong>
    <%= fine_tune.platform_link %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= fine_tune.model_id %>
  </p>

</div>
