<%= form_with(model: [model, fine_tune], class: "contents") do |form| %>
  <% if fine_tune.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(fine_tune.errors.count, "error") %> prohibited this fine_tune from being saved:</h2>

      <ul>
        <% fine_tune.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :model_id, value: model.id %>

  <div class="my-5">
    <%= form.label :name, class: "text-white" %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.select :platform, @platforms, 
      { prompt: "Select a Platform" }, 
      { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5">
    <%= form.label :platform_source, class: "text-white" %>
    <%= form.text_field :platform_source, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :platform_link, class: "text-white" %>
    <%= form.text_field :platform_link, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
